/**
Sample css code
*/
/* Set height to 100% for body and html to enable the background image to cover the whole page: */
body,
html {
    min-height: 100%;
}
body{
    background-image: url('books.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}
.top-header{
    width:100%;
    max-width:960px;
    font:6em "Amatic SC", cursive;
    color:#fff;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.1);
    margin:40px auto;
    text-align:center; 
}
*{
    margin:0px;
    padding:0px;
}

.nav-main{
    width:100%;
    background-color:#222;
    height:0px;
    color:#fff;
}
    .nav-main .logo {
        float: left;
        height: 100px;
        padding: 15px 30px;
        font: 5em "Amatic SC", cursive;

        line-height: 40px;
    }
.nav-main > ul{
    margin:0;
    padding:0;
    float:left;
    list-style-type:none;
}
.nav-main > ul > li{
    float:left;
}
.nav-item {
    display:inline-block;
    padding: 20px 70px;
    height: 100px;
    line-height: 40px;
    color: #fff;
    text-decoration:wavy;
    list-style-position:inside;
    font: 2em "Amatic SC", cursive;
}
.nav-content{
    position:inherit;
    top:70px;
    overflow:hidden;
    max-height:0;
}
.nav-content a{
    color:#fff;
    text-decoration:none;
}
.nav-content a:hover{
    text-decoration:underline;
}
,nav-sub{
    padding:20px;
}
.nav-sub ul{
    padding:0;
    margin:0;
    list-style-type:none;
}
    .nav-sub ul li a {
        display: inline-block;
        padding: 4px 0;
        font: 1.5em "Amatic SC", cursive;
    }
.nav-item:focus ~ .nav-content {
    max-height: 200px;
    -webkit-transition: max-height 0.4s ease-in;
    -moz-transition: max-height 0.4s ease-in;
    transition: max-height 0.4s ease-in;
}
.search-form {
    margin-top: 0px;
    float: right;
    margin-right: 20px;
    padding: 20px 0px;
    font: "Amatic SC", cursive;
}
input[type=text] {
    padding: 7px;
    border: none;
    font: 1em "Times new roman", cursive;
}
button {
    font: 1em "Amatic SC", cursive;
    background:black;
    color:white;
    border-radius:0 5px 5px 0;
    cursor:pointer;
    position:relative;
    padding:10px;
    font-family:"Amatic SC";
}
